/ICS4U.java/build/
/ICS4U.java/nbproject/private/
/ICS4U.java/dist/
/ICS4U.java/nbdist/
/ICS4U.java/nbbuild/
/ICS4U.java/.nb-gradle/
/ICS4U.java/nbactions.xml
/ICS4U.java/nb-configuration.xml
*.class
